.course-details {
    background-color: white;
    display: flex;
    border: 1px solid gray;
    margin: 30px 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 20px 20px rgb(32, 31, 31);
}

.description {
    margin-left: 20px;
}

.buy {
    margin-left: 250px;
    /* margin-bottom: 0px;
    padding: 10 10px; */
}

.price {
    margin-left: 250px;
    padding: 10px 0px;
}